/* Font */
@import url("https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&display=swap");
/*  */
@import "reset.css";
/* Pages */
@import "pages/name.css";
@import "pages/letter.css";
@import "pages/2022.css";
/* Root */
:root {
  --yellow: #fae100;
}
/* Default */
* {
  box-sizing: border-box;
  font-family: "Gamja Flower", "Hi Melody", cursive;
}
section {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
/*  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #2e363e;
}
